<div class="auth-container flex flex-col justify-center items-center min-h-screen">
  <div class="absolute top-5 left-5 flex items-center">
    <img class="w-12 h-auto" src="logo/logo_purple_500x500.png" alt="logo">
    <span class="logo-text text-4xl font-bold">arter</span>
  </div>

  <div class="form-container w-full max-w-md p-8 border-r-lg text-center flex flex-col">
    <h1 class="text-3xl font-bold mb-6">Reset Password</h1>
    <span class="mb-8">
        Please enter the email address you'd like your password reset information sent to
    </span>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          class="form-control"
          type="email"
          placeholder="Email address"
          formControlName="email"
        />
        <small *ngIf="forgotPasswordForm?.get('email')?.invalid && (forgotPasswordForm?.get('email')?.dirty || forgotPasswordForm?.get('email')?.touched)">
          Please enter a valid email address.
        </small>
      </div>

      <button type="submit" class="btn btn-primary w-full mt-8" [disabled]="forgotPasswordForm.invalid">
        Send Reset Link
      </button>
    </form>

    <div class="login-ref mt-16">
      <p class="text-sm"><a routerLink="/login" class="font-bold no-underline">Back to Login</a></p>
    </div>
  </div>
</div>
