// Colors
$bg-color: #fbfbfc;
$highlight: #6B21A8;
$lighter-highlight: #CBA1F9;
$lightest-highlight: #E9D5FF;
$text-danger: #e25757;
$text-success: #6EE7B7;
$text-warning: #FFD166;
$text-secondary: #B0B0B0;
$text-color: #334155;
$border-color: #cbd5e1;

// Button hover darkness percentage
$btn-hover-darken: 20%;
$btn-primary-color: #18181B;
$btn-secondary-hover-color: #F4F4F5;
$btn-secondary-border: 1.5px solid #e4e4ef;
