<html>

<head>
    <meta charset="UTF-8">
    <title>Barter Password Reset</title>
</head>

<body>
<h1>Reset Your Barter Password</h1>
<p>Hello {email}</p>
<p>You have requested to reset your password for your Barter account.</p>
<p>Please click the link below to set a new password. This link will expire in 15 minutes.</p>
<p><a href="{url}{resetToken}" target="_blank">Reset Password</a></p>
<p>If you didn't request this password reset, please ignore this email or contact support if you have concerns.</p>
</body>

</html>
