<div class="auth-container flex flex-col justify-center items-center min-h-screen">
  <div class="absolute top-5 left-5 flex items-center">
    <img class="w-12 h-auto" src="logo/logo_purple_500x500.png" alt="logo">
    <span class="logo-text text-4xl font-bold">arter</span>
  </div>

  <div class="form-container w-full max-w-md p-8 border-r-lg text-center">
    <h1 class="text-3xl font-bold mb-8">Set New Password</h1>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="password"
          placeholder="New password"
          formControlName="password"
        />
        <small *ngIf="resetPasswordForm?.get('password')?.invalid && (resetPasswordForm?.get('password')?.dirty || resetPasswordForm?.get('password')?.touched)">
          Password must be at least 8 characters long.
        </small>
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="Confirm new password"
          formControlName="confirmPassword"
        />
        <small *ngIf="resetPasswordForm?.get('confirmPassword')?.invalid && (resetPasswordForm?.get('confirmPassword')?.dirty || resetPasswordForm?.get('confirmPassword')?.touched)">
          Passwords must match.
        </small>
      </div>

      <button type="submit" class="btn btn-primary w-full mt-8" [disabled]="resetPasswordForm.invalid">
        Reset Password
      </button>
    </form>

    <div class="login-ref mt-16">
      <p class="text-sm">Remember your password? <a routerLink="/login" class="font-bold no-underline">Login</a></p>
    </div>
  </div>

</div>
