


<div class="flex flex-col gap-4 m-8">
    <button class="btn btn-primary">PRIMARY BUTTON</button>
    <button class="btn btn-primary" disabled>PRIMARY BUTTON (DISABLED)</button>
    <button class="btn btn-secondary">SECONDARY BUTTON</button>
    <button class="btn btn-secondary" disabled>SECONDARY BUTTON (DISABLED)</button>
    <button class="btn btn-success">SUCCESS BUTTON</button>
    <button class="btn btn-danger">DANGER BUTTON</button>
    <button class="btn btn-warning">WARNING BUTTON</button>

    <input type="text" class="form-control" placeholder="Form Control" />

    <select class="form-control">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>

    <div class="card">
        <h1 class="text-2xl font-bold">Card</h1>
        <p>This is a card</p>
    </div>
    <div class="flex flex-wrap gap-2">
        <div class="pill">Gardening (12)</div>
        <div class="pill">Cooking (15)</div>
        <div class="pill">Home Renovation (11)</div>
        <div class="pill pill-selected">Bike Repair (2)</div>
    </div>

    <button class="btn btn-primary" (click)="showSuccess()">Show Success Toast</button>

    <div>
        <h2>Heading 2</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
        </p>
    </div>

    <app-map title="Map Container" [locations]="locations" height="500px"></app-map>
</div>
