/* You can add global styles to this file, and also import other style files */
@use './styles/_variables' as *;
@use 'material-icons/iconfont/material-icons.css';
@use 'ngx-toastr/toastr';
@use 'sass:color';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: 'Inter', sans-serif;
}

.btn {
    text-align: center;
    color: #ffffff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    border-radius: 6px;
    outline-color: transparent;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    overflow: hidden;
    position: relative;
    font-weight: 500;
}

.btn-primary {
    background: $btn-primary-color;
    border: 1px solid $btn-primary-color;

    &:hover {
        background: color.adjust($btn-primary-color, $lightness: $btn-hover-darken);
    }

    &:disabled {
        background: color.adjust($btn-primary-color, $lightness: $btn-hover-darken);
        border: 1px solid color.adjust($btn-primary-color, $lightness: $btn-hover-darken);
        cursor: not-allowed;
    }
}

.btn-danger {
    background-color: $text-danger;
    border: 1px solid $text-danger;

    &:hover {
        background-color: color.adjust($text-danger, $lightness: -$btn-hover-darken);
    }
}

.btn-danger:disabled {
    cursor: not-allowed;
    background-color: color.adjust($text-danger, $lightness: 10%);
    border: 1px solid color.adjust($text-danger, $lightness: 10%);
}

.btn-success {
    background-color: $text-success;
    border: 1px solid $text-success;

    &:hover {
        background-color: color.adjust($text-success, $lightness: -$btn-hover-darken);
    }
}

.btn-warning {
    background-color: $text-warning;
    border: 1px solid $text-warning;

    &:hover {
        background-color: color.adjust($text-warning, $lightness: -$btn-hover-darken);
    }
}

.btn-secondary {
    background-color: #fff;
    border: $btn-secondary-border;
    color: $text-color;

    &:hover {
        background-color: $btn-secondary-hover-color;
    }

    &:disabled {
        background: $btn-secondary-hover-color;
        border: $btn-secondary-border;
        cursor: not-allowed;
    }
}

.form-control {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid $border-color;
    border-radius: 6px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
}


select.form-control {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 99% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.card {
    background-color: #fdfdfd;
    border: 1px solid $lighter-highlight;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.08), 0 1px 2px -1px rgba(0, 0, 0, 0.04);
}

h1, h2, h3, h4, h5, h6 {
    color: $highlight;
}

.pill {
    background-color: color.adjust($text-secondary, $lightness: 10%);
    color: $text-color;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    margin-right: 0.5rem;
    font-weight: 600;
    display: inline-flex;
    box-sizing: border-box;
    height: 2.4rem;
    transition: all 0.2s ease-in-out;
    width: max-content;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;

    &:hover {
        background-color: color.adjust($text-secondary, $lightness: 20%);
        transform: translateY(-1px);
    }
}

.pill:last-child {
    margin-right: 0;
}

.pill-selected {
    background-color: $highlight;
    color: white;

    &:hover {
        background-color: color.adjust($highlight, $lightness: 30%);
        transform: translateY(-1px);
    }
}

.active {
    .nav-link-text {
        text-decoration: underline;
    }
}

.ngx-toastr {
    font-family: 'Inter', sans-serif;

    @media (max-width: 768px) {
        margin-bottom: 4.5rem !important;
    }
}
